/node_modules/
/bower_components/

**/target
/target
**/tool/localization
**/src/main/webapp/js/localization/ui-*-*.txt
**/.settings
**/.classpath
**/.project
**/javaw_*.log

.idea/.name
.idea/com.sap.sbo.anw.sp.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml



